
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

        <style>
            .content{
                display:flex;
                align-content:center;
                justify-content:center;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <img src="~/pic/logo.jpg"/>
            <a href="@Url.">Teacher</a>
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#studentModal">Student</button>
            @using (Html.BeginForm("GoStudent","Login", FormMethod.Post))
            {
                    <div class="modal fade" id="studentModal" role="dialog">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h2 class="modal-title">Student Credentials</h2>
                            </div>
                            <div class="modal-body">
                                <h4>Enter your Student ID.</h4>
                                <label for="fname">Student ID:</label><br>
                                <input type="text" id="Sid" name="Sid"><br>
                            </div>
                            <div class="modal-footer">
                              <button type="submit" id="submitBtn" class="btn btn-default" >Login</button>
                            </div>
                          </div>
                        </div>
                    </div>
                  }
          </div>
    </body>
</html>
    

