
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

        <style>
            #content{
                margin: 200px;
                text-align:center;
                align-content:center;
            }

            #loginBtns{
                display:flex;
                justify-content:center;
                padding:20px;

            }

            #btns{
                margin:20px;
                height:300px;
                width:200px;
                background-color:#f8efc6;
                border:1px solid lightgrey;
                color: black;
            }
        </style>
    </head>
    <body>
        <div id="content">
            <img src="~/pic/logo.jpg" style="width:300px; height:100px;"/>
            <br/>
            <section id="loginBtns">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#teacherModal" id="btns">Teacher</button>
                @using (Html.BeginForm("GoTeacher","Login", FormMethod.Post))
                {
                        <div class="modal fade" id="teacherModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Teacher Credentials</h2>
                                </div>
                                <div class="modal-body">
                                    <h4>Enter your teacher ID and password.</h4>
                                    <label for="fname">ID:</label><br>
                                    <input type="text" id="TID" name="TID" required><br>
                                    <label for="fname">Password:</label><br>
                                    <input type="password" id="Password" name="Password" required><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="submitBtn" class="btn btn-default" >Login</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        }
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#studentModal" id="btns">Student</button>
                @using (Html.BeginForm("GoStudent","Login", FormMethod.Post))
                {
                        <div class="modal fade" id="studentModal" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Student Credentials</h2>
                                </div>
                                <div class="modal-body">
                                    <h4>Enter your Student ID :)</h4>
                                    <label for="fname">Student ID:</label><br>
                                    <input type="text" id="Sid" name="Sid" required><br>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" id="submitBtn" class="btn btn-default" >Login</button>
                                </div>
                                </div>
                            </div>
                        </div>
                        }
            </section>
             
          </div>
    </body>
</html>
    

