@model List<_2201_Robot_Car_Website.Models.command>

@using Chart.Mvc.ComplexChart;
@using Chart.Mvc.Extensions;
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    td {
        padding: 0 15px;
    }

    #selectedCommand {
        float: left;
        width: 500px;
        height: 150px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }

    #mapDiv {
        float: left;
        width: 500px;
        height: 350px;
        margin: 10px;
        padding: 10px;
        border: 1px solid black;
    }


    #selectedCommand > * {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    /*#selectedCommand > *:first-child {
        margin-left: 0px;
    }*/
    #submit, #removeCommand {
        float: right;
    }

    .cen {
        margin: auto;
    }

     .CommandHistory {
        width: 300px;
        height: 400px;
        background-color: white;
        text-align: center;
        overflow-y: scroll;
    }
    .ComHistEntry{
        width: 300px;
        height: 50px;
        background-color: yellow;
        text-align: center;
    }


</style>
 <link rel="stylesheet" href="~/style/gameUI.css" asp-append-version="true" />

<h1>@ViewData["Title"]</h1>



<div>
    <table>
        <td><p class="game-title">Treasure Hunt</p></td>
        <td><input type="button" value="Fullscreen" onclick="goFullScreen()" style="float:right;"/></td>
    </table>
    
    
    <div id="temp" style="background-image:url(../pic/scenery.jpg); opacity:0.8;">
        <br/>
        <table class="cen">
        <tr>
            <td colspan="4">
                <div id="mapDiv"  style="background-color:white">Map</div>
            </td>
            <td rowspan="3">
              @*  <canvas id="myCanvas" width="400" height="400" style="background-color:white"></canvas><br />
                <canvas id="distCanvas" width="400" height="150" style="background-color:white"></canvas><br />*@
                <div class="card bg-light">
                  @*  <div class="card-body text-center">
                        <label id="connectionStatus">Connected</label>
                    </div>*@
                </div>
            </td>
            <td rowspan="3">
                @*<canvas id="myCanvas" width="300" height="400" style="background-color:white"></canvas><br />
                <canvas id="distCanvas" width="400" height="150" style="background-color:white"></canvas><br />*@
                
                <div class="CommandHistory" id="CommandHistory">
                        <label style="background-color: White">Command History<br></label>
                        <div class="CommandContainer" id="CommandContainer">
                        @{
                                //Try to load if any data
                                try
                                {
                                    int currentSeqID = Model[0].CommandSeq_id;
                                    string CommandSeq = "";

                                    foreach(var cmdEntry in Model)
                                    {
                                        int entrySeqID = cmdEntry.CommandSeq_id;
                                        if(entrySeqID == currentSeqID)
                                        {
                                            CommandSeq += cmdEntry.Direction + " ";
                                        }
                                        else
                                        {
                                            <div id="ComHistEntry" class="ComHistEntry">@CommandSeq</div>
                                            CommandSeq = "";
                                            CommandSeq += cmdEntry.Direction + " ";
                                            currentSeqID = cmdEntry.CommandSeq_id;
                                        }
                                    }
                                    <div id="ComHistEntry" class="ComHistEntry">@CommandSeq</div>
                                }
                                catch(ArgumentOutOfRangeException e)
                                {
                                    //do nothing
                                }
                        }
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="heartbeat">
                    <audio src="https://css-tricks.com/examples/SoundOnHover/audio/beep.mp3" preload="auto">
	                    Your browser does not support the <code>audio</code> element.
                    </audio>
                      <div id="command" class="text-center">
                                  <input type="button" class="game-button" value="Up" id="up" />

                            &nbsp;<input type="button" class="game-button red" value="Left" id="left">
                            &nbsp;<input type="button" class="game-button green" value="Right" id="right">
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <div id="selectedCommand" style="background-color:white; overflow:scroll;"></div><br />
                <img id="removeCommand" src="\image\bin.png" />
                <br/>
            </td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;<input type="button" id="clear" value="Clear"></td>
            <td colspan="2">&nbsp;<input type="button" id="submit" value="Submit"></td>
            <td></td>
        </tr>

    </table>
    
    
    </div>
    
     <a asp-controller="Home" asp-action="Student" style="text-decoration:none">Back to Student</a>
</div>

<script>

      $('#heartbeat').hover( 
        function() {$("audio")[0].play();},
        function() {$("audio")[0].pause();}
    );


     function goFullScreen(){

            var elem = document.getElementById('temp');

            if(elem.requestFullscreen){
                elem.requestFullscreen();
            }
            else if(elem.mozRequestFullScreen){
                elem.mozRequestFullScreen();
            }
            else if(elem.webkitRequestFullscreen){
                elem.webkitRequestFullscreen();
            }
            else if(elem.msRequestFullscreen){
                elem.msRequestFullscreen();
            }
        }
      new Sortable(command, {
          group: {
              name: 'command',
              pull: 'clone',
              put: false
          },
          sort: false
      });

      new Sortable(selectedCommand, {
          group: {
              name: 'selected',
              put: 'command'
          },
      });
      new Sortable(removeCommand, {
          group: {
              name: 'deleted',
              put: 'selected'
          },
          onAdd: function (evt) {
      this.el.removeChild(evt.item);
    }
      });

       $('#submit').on('click', function() {
            var div = document.getElementById('selectedCommand');
            var c = div.childNodes;
            var txt = "";
            var cmdSeqList = [];
            for (var i = 0; i < c.length; i++) {
            txt = txt + c[i].value + " ";
            cmdSeqList.push(c[i].value);
            }
            if(txt != ""){
                $('#CommandHistory').append("<div id= 'ComHistEntry' class= 'ComHistEntry'><p>" +txt +"</p></div>");
            }

            var jsonList = [];
            for (var i = 0; i < cmdSeqList.length; i++) 
            {
                    jsonList.push({'Direction' : cmdSeqList[i] , 'CommandSeq_id' : 1 , 'OrderNum' :  i , 'Student_Sid' : 1, 'Mapdata_Mid' : 10});
            }
            const jsonString = JSON.stringify(jsonList);

            
            $.ajax({
                url: 'SendChallengeData',
                type: 'POST',
                data:{'cmdSeqList' : jsonString},
                cache: false,
                success: function(data){
                    alert("Saved to DB!")
                },error: function(data){
                    alert("Failed to save data");
                }
                
                
            });

                  

         });

         $('#clear').on('click', function() {
                 var div = document.getElementById('selectedCommand');
                 div.innerHTML="";

         });
</script>