@{
    ViewData["Title"] = "Edit Map Page";
}

<head>
    <link rel="stylesheet" href="~/css/EditMap.css" />
    <script src="~/js/EditMap.js"></script>
</head>

<div class="text-center">
    <h1 class="display-4">Map Edit</h1>
</div>

<br/>

<div class="text-center">
    <button disabled class="whiteroad">Road</button>
    <button disabled class="redwall">Wall</button>
    <button disabled class="greenplayer">Start Point</button>
    <button disabled class="yellowgoal">Goal</button>
</div>
<br/>

<div class="text-center">
    <button id="1" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="2" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="3" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="4" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="5" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="6" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="7" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="8" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="9" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="10" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="11" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="12" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="13" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="14" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="15" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="16" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<br/>
<div class="text-center">
    <button class="submit" onclick="submit()">SUBMIT</button>
</div>