@{
    ViewData["Title"] = "Edit Map Page";
}

<head>
    <link rel="stylesheet" href="~/css/EditMap.css" />
</head>

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <h1 class="display-4">Map Edit</h1>
</div>
<div class="text-center">
    <button id="1" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="2" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="3" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="4" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="5" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="6" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="7" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="8" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="9" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="10" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="11" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="12" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button id="13" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="14" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="15" class="map" value="0" onclick="increment(this.id)"></button>
    <button id="16" class="map" value="0" onclick="increment(this.id)"></button>
</div>
<div class="text-center">
    <button class="submit" onclick="submit()">SUBMIT</button>
</div>

<script>
var value = 0
function increment(thisID){
    value = parseInt(document.getElementById(thisID).value) + 1;
    if (value == 4){
        value = 0;
    }
    if (value == 0){
        document.getElementById(thisID).style.backgroundColor = "white";
    }
    else if (value == 1){
        document.getElementById(thisID).style.backgroundColor = "red";
    }
    else if (value == 2){
        document.getElementById(thisID).style.backgroundColor = "green";
    }
    else if (value == 3){
        document.getElementById(thisID).style.backgroundColor = "yellow";
    }
    document.getElementById(thisID).value = value.toString();
}
function submit(){
    var map = new Array();
    for(var i = 1; i < 16; i++){
        map[i-1] = document.getElementById(i.toString()).value;
    }
    alert(map);
}
</script>