@{
    ViewData["Title"] = "Index Page";
}
<br/>
<br/>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Teacher">Teacher</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Student">Student</a>
        </li>
    </ul>
</div>


<div class="text-center">
    <h1 class="display-4">dis da home page</h1>
</div>
