@{
    ViewData["Title"] = "Student Page";
}

<h1>@ViewData["Title"]</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Challenge">Challenge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tutorial">Tutorial</a>
    </li>
</ul>

<div class="text-center">
    <h1 class="display-4">dis da Student page</h1>
</div>