@{
    Layout = "_LayoutStudent";
    ViewData["Title"] = "kids portal";
}
@using _2201_Robot_Car_Website.Models
@model Student_Page

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <link rel="stylesheet" href="~/style/dashboard.css" asp-append-version="true" />
<!--load music and sound effects-->
<script>
    window.onload = function() {
    document.getElementById("my_audio").play();
}
    $(function(){
$('#videoHolder').hover(
    function() {	$("audio")[1].play();},
    function() {	$("audio")[1].pause();}
    )
});
    $(function(){
$('#videoHolder1').hover(
    function() {	$("audio")[2].play();},
    function() {	$("audio")[2].pause();}
    )
});
    $(function(){
$('#videoHolder2').hover(
    function() {	$("audio")[3].play();},
    function() {	$("audio")[3].pause();}
    )
});

</script>

<!--Background sound effect
    autoplay when come to this page -->
<audio id="my_audio" src="../sounds/videoplayback.3gpp" loop="loop" autoplay></audio>

<h2>Id: @Context.Session.GetString("Sid")</h2>
<h2>Name: @Context.Session.GetString("StudentName")</h2>
<h2>Class: @Context.Session.GetString("StudentClass")</h2>
<!--Render Image background-->
    <div class="fixed py-5">
         <img src="~/img/logo.jpg" alt="Some scenery" width="150">
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
         <br/>
     </div>

<!--Tutorial-->
         <div class="py-5" style="background-image:url(../pic/road.png)">
           <div style="position:absolute">
              <div id="videoHolder">
                <a class="game-button" asp-controller="Home" asp-action="Tutorial" style="text-decoration:none">Tutorial</a>
                  <audio preload="auto">
                      <source src="../sounds/tutorial.ogg"> </source>
                  </audio>
                </div>
            </div>
        </div>


   <div class="album py-5" style="background-color:#FFE000">

       <!--Hover challenges for sound effect-->
       <div class="text-center">
          <div id="videoHolder1">
                <h4 class="white">CHALLENGES</h4>
                  <audio preload="auto">
                      <source src="../sounds/challenges.ogg"> </source>
                 </audio>
            </div>
        </div>
        <br/>

        <!--Catalog of challenges: need backend codes to stop repetitive and get from db i.e. need one card will do-->
        <div class="container">
              <div class="container">
                   <div class="container">
                        <div class="container">
                             <div class="container">
                                  <div class="row">
                            @{
                                foreach(var mapItem in Model.map)
                                {
                                <div class="col-md-4" >
                                          <div class="card mb-4 box-shadow1">
                                            <img src="~/img/TreasureHunt.png" alt="Card image cap" class="card-img-top">
                                            <div class="card-body">
                                             <p class="card-text" style="text-decoration:underline; color:blue;">Challenge</p>
                                              <p class="card-text">Map @mapItem.Mid</p>
                                              <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <div id="videoHolder2">
                                                             <!--hover play for sound effect-->
                                                              <a class="play nav-link text-light"  asp-controller="Home" asp-action="loadingPage">Play</a>
                                                              <audio preload="auto">
                                                                  <source src="../sounds/play.ogg"> </source>
                                                             </audio>
                                                        </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                    }
                                      }
                                    </div>
                                  </div>
                               </div>
                            </div>
                          </div>
                         </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>