@{
    ViewData["Title"] = "Student Results Page";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
    

     <div id="stdentData">
     @{
          Html.RenderPartial("_StudData");   
        }
     </div>
</div>
