@{
    ViewData["Title"] = "Teacher Page";
}

<h1>@ViewData["Title"]</h1>

<h2>Id: @Context.Session.GetString("Tid")</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StudentResult">Students Results</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="EditMap">Edit Map</a>
    </li>
</ul>

<div class="text-center">
    <h1 class="display-4">Dis is da Teacher page</h1>
</div>