@{
    ViewData["Title"] = "Tutorial Page";
}

<h1>@ViewData["Title"]</h1>

<div class="text-center">
  
    <table>
        <tr>
            <td>
                <img src="\img\1.JPG"  style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            </td>
        </tr>
          <tr>
            <td>
                <br/>
                <img src="\img\2.JPG" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            </td>
        </tr>
            <tr>
            <td>
                <br/>
                <img src="\img\3.JPG" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            </td>
        </tr>
         <tr>
            <td>
                <br/>
                <img src="\img\4.JPG" style="display: block; margin-left: auto; margin-right: auto; width: 50%;" />
            </td>
        </tr>
         <tr>
            <td>
                <br/>
                <img src="\img\5.JPG" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            </td>
        </tr>
         <tr>
            <td>
                <br/>
                <img src="\img\6.JPG"  style="display: block; margin-left: auto; margin-right: auto; width: 50%;"/>
            </td>
        </tr>
    </table>
</div>
